<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>{{ title }}</title>    
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='css/style.css')}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link type="image/x-icon" href={{ url_for('static', filename='favicon.ico')}} rel="shortcut icon">
    <link type="Image/x-icon" href={{ url_for('static', filename='favicon.ico')}} rel="icon">
</head>
<body>
    <div id="particles-js"></div> 
    <div class="content-wrapper content-wrapper-flex">
        <div class="req_wrap">
            <p class="req_title">Форма для запроса сертификата</p>
            <form class="req_form" method="POST" action="/">
                <!-- for CSRF wtforms -->
                {{ form.hidden_tag() }}
                {% if form.country.errors %}
                    <div class="req_field">
                        <p class="req_field_desc">Страна (два символа):</p>
                        {{ form.country(class_='req_field_input', autofocus=true, required='required', maxlength='2', minlength="2") }}
                    </div>
                    <span class="invalid_field">
                        {% for err in form.country.errors %}
                        {{ err }}
                        {% endfor %}
                    </span>
                    {% else %}
                        <div class="req_field">
                            <p class="req_field_desc">Страна (два символа):</p>
                            {{ form.country(class_='req_field_input', autofocus=true, required='required', maxlength='2', minlength="2") }}
                        </div>
                {% endif %}
                <!-- loop for fields of the same type -->
                {% for field in ['Область','Город','Организация','Подразделение','Логин в Telegram'] %}
                <div class="req_field">
                    <p class="req_field_desc">{{ field }}</p>
                    {{ form.any_name(class_='req_field_input', required='required', maxlength='32') }}
                </div>
                {% endfor %}
                {% if form.email.errors %}
                    <div class="req_field">
                        <p class="req_field_desc">E-mail</p>
                        {{ form.email(class_='req_field_input', required='required') }}
                    </div>
                    <span class="invalid_field">
                        {% for err in form.email.errors %}
                        {{ err }}
                        {% endfor %}
                    </span>
                    {% else %}
                        <div class="req_field">
                            <p class="req_field_desc">E-mail</p>
                            {{ form.email(class_='req_field_input', required='required') }}
                        </div>
                {% endif %}
                <div class="req_submit">
                    {{ form.submit(class_='req_submit_button') }}
                </div>
            </form>
        </div>
    </div>
    <script src={{ url_for('static', filename='js/particles.js')}}></script>
    <script src={{ url_for('static', filename='js/app.js')}}></script>
</body>
</html>
