<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=10">
    <title>{{ title }}</title>    
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='css/style.css')}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <link type="image/x-icon" href={{ url_for('static', filename='favicon.ico')}} rel="shortcut icon">
    <link type="Image/x-icon" href={{ url_for('static', filename='favicon.ico')}} rel="icon">
</head>
<body>
    <div id="particles-js"></div> 
    <div class="content-wrapper content-wrapper-flex">
        <div class="req_wrap">
            <p class="ok_title">Запрос {{ req_id }} успешно зарегистрирован</p>
            <a href="/" class="link_back">Назад</a>
        </div>
    </div>
    <script src={{ url_for('static', filename='js/particles.js')}}></script>
    <script src={{ url_for('static', filename='js/app.js')}}></script>
</body>
</html>
