
/* Normalize begin */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

details summary::-webkit-details-marker {
  display: none;
}
  details summary:before {
  content: " + ";
}
  details[open] summary:before {
  content: " -- ";
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display:block;
    clear: both;
}

html {
    min-width: 800px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
}

 .header, .content-wrapper, .container, .content, .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}


html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}

canvas{
  display:block;
}

header {
  position: absolute;
}

/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #18191b;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
  position: fixed;
}
/* ---- particles.js container ---- */

.content-wrapper {
  margin: 0 auto;
  height: 100%;
  /* min-width: 800px; */
  /* max-width: 1200px; */
  z-index: 2;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.content-wrapper-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 20px; */
}

.input_field, .button_search {
  border: none;
  outline: none;
  border-radius: 4px;
}
.input_field {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-left: 16px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  font-size: 18px;
  font-weight: 300;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(195, 195, 195);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(195, 195, 195);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(195, 195, 195);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(195, 195, 195);
}

.req_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(3,3,3,0.4);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  border-radius: 4px;
}
.req_title {
  margin: 0 auto;
  padding: 30px 30px 14px;
  font-size: 18px; 
  color: #929292;
}

.ok_title {
  margin: 0 auto;
  padding: 30px 30px 15px;
  font-size: 18px; 
  color: #00ffa4;
}

.req_form {
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0px;
}

.req_field {
  width: 320px;
  height: 30px;
  margin-bottom: 32px;
  position: relative;
  font-size: 14px;
  color: #929292;
}

.req_submit {
  margin: 10px auto 30px;
}

.req_submit_button {
  padding: 10px 60px;
  background-color: #00ffa4;
  color: #18191b;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  transition: 0.1s linear;
}

.req_submit_button:hover {
  background: #00c782;
}

.req_field_desc {
  margin: 0px 0px 3px;
}

.req_field_input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid rgb(48, 48, 48);
  padding: 0 10px;
  background-color: #18191b;
  color: #00ffa4;
}

.req_field_input:focus {
  border: 1px solid #00ffa4;
}

.invalid_field {
  color: #DC143C;
  font-size: 16px;
}

.link_back {
  margin: 0 auto 20px;
  font-size: 16px;
  color: #00ffa4;
}